<!DOCTYPE html>

<html ng-app="hiddenCity">
<head>
    <title>Hidden City - Ealing</title>
    <link rel="stylesheet" href="Style.css" />
</head>
<body ng-controller="controller as controller">
    <div class="background"> </div>

    <div class="content">
        <div class="title" style="margin-top:5%">Hidden City</div>
        <div class="title">EALING</div>

        <div class="start" ng-show="!controller.hasStarted">
            <p>
                Welcome to Hidden City - Ealing Edition
            </p>
            <p>
                Before you are X clues and riddles that will have you walking all over Ealing, allow around 2 - 2.5 hours to complete the hunt. Click the start button below to begin playing!
            </p>
        </div>

        <div class="clue">
            <p>{{controller.currentClue.question}}</p>
            <input type="text" ng-model="controller.theAnswer" />
            <button ng-click="controller.SubmitAnswer()">Submit</button>
            <button ng-click="controller.GetHint()">Hint</button>
        </div>

        <div class="hint" ng-show="controller.hintGiven">{{controller.currentHint.hint}}</div>

        <div class="correct" ng-show="controller.isCorrect && controller.hasStarted">
            <p>THAT WAS THE CORRECT ANSWER!</p>
        </div>

        <div class="incorrect" ng-show="!controller.isCorrect && controller.hasStarted">
            <p>THAT ANSWER WAS INCORRECT!</p>
        </div>
    </div>

    <script src="Angular.js"></script>
    <script src="Script.js"></script>
</body>
</html>